@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: #f65077;
  --Secondary: #16a69c;
  --hover: #158e86;  
  --main-background: #fafafa;
  --remove: #777777;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
}